
.leaflet-container{
    width: 100%;
    height: 90vh
}
.leaflet-control-layers {
    display: flex;
    justify-content: center;
    min-width: 200px;
    max-width: 500px;
    font-size: 1.5rem;
  }
  .leaflet-control-layers-toggle{
    margin:auto;
  }
  