/* 
  Pitt Royal: #003594 
  Pitt Gold: #FFB81C
  hover blue: #3366ff
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Passion+One:wght@700&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&family=Passion+One:wght@700&family=Rubik&display=swap');

body {
  margin: 0;
  background-color: #003594;
}

.footer {
  display: flex;
  background-color: #2b2b2b;
  color: white;
  position: relative;
  bottom: 0;
  align-items: center;
}

.footer h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 2em;
}

.Layout {
  min-height: calc(100vh);
  display: flex;
  flex-flow: column;
  background-color: white;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #003594;
  margin: 0;
}

h1 {
  font-family: 'Rubik', sans-serif;
}

.header h1 {
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 2em;
  margin: 0;
}

.header-seal, .footer-seal {
  display: flex;
}

.header-seal img {
  width: 148px;
  padding: 24px;
}

.footer-seal img {
  width: 148px;
  padding: 24px;
}

.navbar {
  margin: 0;
  background-color: #003594;
  color: #FFFFFF;
  display: flex;
  /* align-items: stretch; */
  position: sticky;
  top: 0;
  z-index: 10;
  height: 30px;
  padding: 0 24px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  /* text-align: center; */
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  /* gap: 1rem; */
  /* text-align: center; */
  align-items: center;
}

.navbar li {
  padding-left: .5rem;
  padding-right: .5rem;
}

.navbar li:not(:last-child) {
  border-right: .01rem solid #FFFFFF;  
}

/* li:not(:last-child)::after{
  content:""; 
  border:1px solid #e2e2e2;
  border-width: 1px 1px 0 0;
  position:absolute; 
  right:-3px; 
  top:0; 
  height:100%;
} */

.navbar a {
  color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  text-decoration: none;
}

.navbar li:hover:not(.navbar-item) {
  background-color: #3366ff;
}

.navbar-item {
  background-color: #FFB81C;
}

.navbar-item a {
  color: #003594;
}

.outlet {
  flex-grow: 1;
}

.home {
  background-color: white;
  margin: 0;
}

.Timeline body{
  background-color: white;
}

.DocDisplay {
  background-color: white;
  border-style: solid;
  border-radius: 20px;
}

.audio-title {
  padding: 0 24px;
  text-align: center;
}

.audio-player { 
}

.audio-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.controls-and-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.audio-controls {
  padding: 0 24px;
  display: flex;
}

.audio-control-button {
  background-color: transparent;
  border: none;
  margin: .25em;
}

.audio-control-button-icon {
  font-size: 2em;
}

.progress-bar {
  margin: 0 1em;
  display: flex;
  padding-right: 172px;
  /* flex-grow: 3; */
}

.progress-bar-input {
  width: 25em;
}

/* need to account for different appearances depending on browser */
/* currently only works for firefox */
input[type="range"]::-moz-range-track {
  position: relative;
  background: #CCCCCC;
  width: 100%;
}

input[type="range"]::-moz-range-progress {
  background: #0000FF;
}

/* desktop view */
@media screen and (min-width: 550px) {

}