
body {
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #0000FF;
}

h1{
  background-color: white;
  margin: 0;
}

footer {
  background-color: #003594;
  color: white;
  padding: 1%;
  position: relative;
  bottom: 0;
  height: 30px;
}

.Layout {
  min-height: calc(100vh);
  display: flex;
  flex-flow: column;
  background-color: white;
}

.header {
  align-items: center;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #003594;
  margin: 0;
  height: 40px;
}

.header h1 {
  background-color: #003594;
  color: #FFFFFF;
  margin: 0;
  
}

.navbar {
  margin: 0;
  background-color: #003594;
  color: #FFFFFF;
  display: flex;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 30px;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  text-align: center;
}

.navbar a {
  color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.navbar li.active {
  background-color: #0000FF;
}

.navbar li:hover {
  background-color: #0000FF;
}

.outlet {
  flex-grow: 1;
}

.home {
  background-color: white;
  margin: 0;
}

.Timeline body{
  background-color: white;
}

.DocDisplay {
  background-color: white;
  border-style: solid;
  border-radius: 20px;
}

.progress-bar {
  display: flex;
}

.controls-and-bar {
  display: flex;
}

/* need to account for different appearances depending on browser */
/* currently only works for firefox */
input[type="range"]::-moz-range-track {
  position: relative;
  background: #CCCCCC;
  width: 100%;
}

input[type="range"]::-moz-range-progress {
  background: #0000FF;
}