/* 
  Pitt Royal: #003594 
  Pitt Gold: #FFB81C
  hover blue: #3366ff
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Passion+One:wght@700&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&family=Passion+One:wght@700&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
}

strong {
  font-weight: bold;
}

.footer {
  display: flex;
  background-color: #2b2b2b;
  color: white;
  position: relative;
  bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.footer h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 2em;
  font-size: 28px;
}

.contacts, .follows {
  padding-top: 50px;
  padding-bottom: 50px
}

.follows {
  text-align: center;
}

.contacts p {
  font-size: 12px;
  padding-right: 10rem;
}

.email-link {
  color: inherit;
  text-decoration: inherit;
}

.email-link:hover {
  text-decoration: underline;
}

.social-media {
  font-size: 2rem;
  color: inherit;
  text-decoration: inherit;
  padding: 3%;
}

.social-media:hover {
  color: #FFB81C;
}

.Layout {
  min-height: calc(100vh);
  display: flex;
  flex-flow: column;
  background-color: white;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #003594;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
}

h1 {
  font-family: 'Rubik', sans-serif;
}

.header h1 {
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin: 0;
}

.header-seal, .footer-seal {
  display: flex;
}

.header-seal img, .footer-seal img {
  width: 200px;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.footer-seal img {
  width: 130px;
}

.navbar {
  margin: 0;
  background-color: #003594;
  color: #FFFFFF;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 30px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar li:not(:last-child) {
  border-right: .01rem solid #FFFFFF;
}

.navbar a {
  color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  text-decoration: none;
}

.navbar li:hover:not(.navbar-item) {
  background-color: #3366ff;
}

.navbar-item {
  background-color: #FFB81C;
}

.navbar-item a {
  color: #003594;
}

.inner-link-div {
  padding-left: .5rem;
  padding-right: .5rem;
}

.outer-link-div {
  padding: 0;
}

.outlet {
  flex-grow: 1;
  position: relative;
}

.home {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.page-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-align: center;
}

.home-description {
  font-family: 'Open Sans', sans-serif;
}

.Timeline body{
  background-color: white;
}

.timeline-div {
  height: 900px;
}

.timeline-div h1 {
  padding-left: 10%;
  padding-right: 10%;
}
.chrono h1 {
  padding-left: 0rem;
  padding-right: 0rem;
}
  

.DocDisplay {
  background-color: white;
  border-style: solid;
  border-radius: 20px;
}

.audio-div {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.audio-title {
  padding: 0 24px;
  text-align: center;
}

.audio-player { 
  border-color: black;
  border-style: solid;
  padding-bottom: 1rem;
  border-width: 1px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.audio-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.audio-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  margin-left: 5%;
  margin-right: 5%;
}

.controls-and-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-controls {
  padding: 0 5%;
  display: flex;
}

.audio-control-button {
  background-color: transparent;
  border: none;
  margin: 1%;
}

.audio-control-button-icon {
  font-size: 1.5rem;
}

.progress-bar {
  display: flex;
  padding-right: 5%;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.progress-bar-input {
  width: 600px;
}

/* need to account for different appearances depending on browser */
/* currently only works for firefox */
input[type="range"]::-moz-range-track {
  position: relative;
  background: #CCCCCC;
  width: 100%;
}

input[type="range"]::-moz-range-progress {
  background: #0000FF;
}

@media screen and (max-width: 1200px) {
  .progress-bar-input {
    width: 400px;
  }
}

@media screen and (max-width: 950px) {
  .controls-and-bar {
    display: block;
  }

  .progress-bar {
    padding: 0 5%;
    justify-content: center;
  }

  .audio-controls {
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .header {
    display: block;
    padding-right: 1%;
  }

  .header h1 {
    font-weight: 300;
    /* font-size: 24px; */
    padding-bottom: 24px;
    text-align: left;
  }

  .audio-player {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: block;
  }

  .contacts {
    padding-bottom: 0;
  }
  
  .contacts p {
    padding-right: 0;
  }

  .follows {
    text-align: left;
    padding-bottom: 50px
  }

  .social-media {
    padding: .5%;
  }

  @media screen and (max-width: 500px) {
    .audio-player {
      margin-left: 0%;
      margin-right: 0%;
    }
  }

}