.legend {
    line-height: 25px;
    color: #000000;
    background-color: white;
    width: 180px;
    font-size: 1rem;
    border-radius: 10px;
  }
  .legend i {
    width: 20px;
    height: 18px;
    float: left;
    margin-right: 20px;
    opacity: 1;
  }
  
  